.editGuitar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem 1rem 4rem;

  .editGuitarHeader {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 750px) {
  .editGuitar {
    font-size: 1.3rem;
    padding: 5rem 2rem 6rem;

    .editGuitarHeader {
      font-size: 2rem;
    }
  }
}
