.products {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem 1rem 4rem;

  .productsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .productsHeaderTitle {
      font-size: 1.5rem;
    }
  }

  .productsCardList {
    width: 100%;
    justify-content: center;
    align-items: center;

    .productsCard {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
      gap: 1rem;
    }
  }

  .productsButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    img:hover {
      transform: scale(1.1);
    }

    img:active {
      transform: scale(1.2);
    }

    .productsButtonsPrev,
    .productsButtonsNext {
      width: 55px;
      cursor: pointer;
    }

    .productsButtonsCreate {
      width: 50px;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 600px) {
  .products {
    .productsCardList {
      .productsCard {
        gap: 3rem;
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .products {
    font-size: 1.3rem;
    padding: 5rem 2rem 6rem;

    .productsHeader {
      .productsHeaderTitle {
        font-size: 2rem;
      }
    }

    .productsCardList {
      .productsCard {
        grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
        gap: 4rem;
      }
    }

    .productsButtons {
      gap: 2rem;

      .productsButtonsPrev,
      .productsButtonsNext {
        width: 60px;
      }

      .productsButtonsCreate {
        width: 55px;
      }
    }
  }
}
