.products {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem 1rem 2rem;
  min-height: 75vh;

  .productsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .productsHeaderTitle {
      font-size: 1.5rem;
    }
  }

  .productsCardList {
    width: 100%;
    min-height: 60vh;

    .productsCard {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(2, minmax(150px, 200px));
      column-gap: 1rem;
      row-gap: 2rem;
    }
  }

  .productsButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    img:hover {
      transform: scale(1.1);
    }

    img:active {
      transform: scale(1.2);
    }

    .productsButtonsPrev,
    .productsButtonsNext {
      width: 55px;
      cursor: pointer;
    }

    .productsButtonsCreate {
      width: 50px;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 600px) {
  .products {
    .productsCardList {
      .productsCard {
        column-gap: 4rem;
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .products {
    padding: 2rem;

    .productsHeader {
      .productsHeaderTitle {
        font-size: 1.8rem;
      }
    }

    .productsCardList {
      .productsCard {
        grid-template-columns: repeat(2, minmax(180px, 200px));
        column-gap: 6rem;
      }
    }

    .productsButtons {
      gap: 2rem;

      .productsButtonsPrev,
      .productsButtonsNext {
        width: 60px;
      }

      .productsButtonsCreate {
        width: 55px;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .products {
    .productsCardList {
      .productsCard {
        grid-template-columns: repeat(4, minmax(200px, 250px));
        column-gap: 3rem;
      }
    }
  }
}
