### Fill in the fields with the Firebase information and change the file name to ".env" ###
API_KEY=<complete>
AUTH_DOMAIN=<complete>
PROJECT_ID=<complete>
STORAGE_BUCKET=<complete>
MESSAGING_SENDER_ID=<complete>
APP_ID=<complete>
