.guitarCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  .guitarCardInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: hsl(210, 11, 15, 0.95);
    border: 2px solid hsl(210, 11, 15, 0.95);

    .guitarCardInfoBrand {
      font-size: 1.1rem;
    }

    .guitarCardInfoModel {
      font-size: 1rem;
    }

    .guitarCardInfoStyle {
      font-size: 1rem;
    }

    .guitarCardInfoPrice {
      font-size: 1.3rem;
      font-family: 'Lato', sans-serif;
      color: hsl(0, 100, 39, 0.99);
    }

    img {
      width: 150px;
    }
  }

  .guitarCardMoreDetails {
    background-color: hsl(210, 11, 15, 0.95);
    color: white;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.2rem 0.6rem;
  }
}

@media screen and (min-width: 750px) {
  .guitarCard {
    font-size: 1.3rem;
    gap: 1rem;

    .guitarCardInfo {
      .guitarCardInfoBrand {
        font-size: 1.3rem;
      }

      .guitarCardInfoModel {
        font-size: 1.1rem;
      }

      .guitarCardInfoStyle {
        font-size: 1.1rem;
      }

      .guitarCardInfoPrice {
        font-size: 1.5rem;
      }

      img {
        width: 200px;
      }
    }

    .guitarCardMoreDetails {
      border-radius: 0.8rem;
      padding: 0.3rem 0.8rem;
    }
  }
}
