.navMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  height: 100%;
  width: 100%;
  position: relative;

  .navMenuLogin {
    width: 60px;
    cursor: pointer;
  }

  .navMenuBurger {
    width: 80px;
    cursor: pointer;
  }

  .navMenuOptions {
    display: none;
  }

  .navMenuOptionsOpen {
    position: absolute;
    top: 80px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 1rem;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    width: 150px;
    background-color: rgb(116, 116, 116, 99%);
    box-shadow: 2px 0px 2px 2px rgb(116, 116, 116, 99%);

    li {
      padding: 0.7rem 1rem;
    }

    li:hover {
      background-color: rgb(33, 37, 41, 95%);
      border-radius: 1rem;
    }

    li:active {
      background-color: rgb(33, 37, 41, 50%);
    }
  }
}

@media screen and (min-width: 750px) {
  .navMenu {
    flex-direction: row-reverse;
    justify-content: space-between;

    .navMenuLogin {
      width: 60px;
      cursor: pointer;
      margin: 1rem;
    }

    .navMenuBurger {
      display: none;
    }

    .navMenuOptions,
    .navMenuOptionsOpen {
      position: static;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      padding: 1rem;
      color: white;
      font-family: 'Raleway', sans-serif;
      font-size: 1.5rem;
      background-color: inherit;
      box-shadow: none;
      width: auto;

      li {
        padding: 0.3rem 0.5rem;
      }

      li:hover {
        background-color: rgb(116, 116, 116, 99%);
        border-radius: 1rem;
      }

      li:active {
        background-color: rgb(116, 116, 116, 50%);
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .navMenu {
    .navMenuOptions,
    .navMenuOptionsOpen {
      gap: 2.5rem;
    }
  }
}
