.login {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 1rem;
  min-height: 75vh;

  .loginHeader {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      font-size: 1.3rem;
    }
  }

  .loginBody {
    display: flex;
    flex-direction: column;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      ::placeholder {
        color: rgb(33, 37, 41, 70%);
        font-size: 1.1rem;
        font-family: 'Lato', sans-serif;
      }

      input {
        background-color: white;
        border: 2px solid rgb(33, 37, 41, 95%);
        border-radius: 0.7rem;
        padding: 0.5rem;
        width: 250px;
        color: rgb(33, 37, 41, 95%);
      }

      button {
        color: white;
        font-family: 'Lato', sans-serif;
        background-color: rgb(33, 37, 41, 95%);
        border-radius: 1.2rem;
        font-size: 1.4rem;
        width: 150px;
        padding: 0.2rem;
        cursor: pointer;
      }

      button:active {
        background-color: rgb(116, 116, 116, 85%);
      }

      .loginBodyMessage {
        display: inline-block;
        font-family: 'Raleway', sans-serif;
        color: rgb(33, 37, 41, 95%);
        font-size: 0.9rem;

        .loginBodyMessageLink {
          color: rgb(0, 0, 238, 90%);
          cursor: pointer;
        }
      }
    }
  }

  .loginErrorMessageHidden {
    display: none;
  }

  .loginErrorMessage {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    color: rgb(200, 0, 0);
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 600px) {
  .login {
    align-items: center;
    font-size: 1.1rem;

    .loginHeader {
      align-items: center;

      p {
        font-size: 1.4rem;
      }
    }

    .loginBody {
      align-items: center;

      form {
        ::placeholder {
          font-size: 1.3rem;
        }

        input {
          width: 300px;
        }

        button {
          font-size: 1.5rem;
        }
      }
    }
  }
}
