.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 1rem 1rem 2rem;
  min-height: 75vh;

  .errorPageTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .errorPageTitleCode {
      font-size: 3rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
    }

    .errorPageTitleMessage {
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      font-size: 2.5rem;
    }
  }

  img {
    width: 200px;
  }

  p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;

    span {
      font-weight: bold;
      padding: 0rem 0rem 0.2rem;
      color: rgb(0, 0, 238, 70%);
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 750px) {
  .errorPage {
    .errorPageTitle {
      .errorPageTitleCode {
        font-size: 3.2rem;
      }

      .errorPageTitleMessage {
        font-size: 2.7rem;
      }
    }

    p {
      font-size: 1.6rem;
    }
  }
}
